#APP/Enviroment
ENV=dev
APP_NAME=FastConci
DEBUG=true
VERSION=0.1
UPLOAD_DIR=uploads

#DB
DATABASE_URL=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

#Security 
SECRET_KEY=change-me
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000