ENV=dev
APP_NAME=FastConci
DEBUG=true
VERSION=0.1
UPLOAD_DIR=uploads

#DB
DATABASE_URL=localhost
DATABASE_PORT=5434
DATABASE_NAME=database
DATABASE_USER=user
DATABASE_PASSWORD=pass



SECRET_KEY=change-me
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000